[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on.failure
User=Martijn
WorkingDirectory=/home/martijn/sites/DOMAIN
EnvironmentalFile=/home/martijn/sites/DOMAIN/.env

ExecStart=/home/martijn/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi.user.target
